<!DOCTYPE html>
<html>
  <head>
    <title>
      Food is yummy!
    </title>
  </head>
  <body>
    <h3>Here are your results: </h3>
<%="My name is #{params[:name]}, and I love #{params[:favorite_food]}."%>
    
  </body>
</html>

















<!--<h1><%= "My name is #{@name} and I love #{@favorite_food}" %></h1>-->

